<h1>SRK19</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="logo">Logo</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="india">SHIVA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="world">RAM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shaktipeetas">KRISHNA</a>
      </li>
    </ul>
  </nav>

<router-outlet></router-outlet>
